
Debugx86/Xilium.CefGlue.xml
Debugx86/Xilium.CefGlue.WindowsForms.pdb
Debugx86/Xilium.CefGlue.WindowsForms.dll
Debugx86/Xilium.CefGlue.pdb
Debugx86/Xilium.CefGlue.dll
Debugx86/Xilium.CefGlue.Demo.WinForms.pdb
Debugx86/Xilium.CefGlue.Demo.WinForms.exe.config
Debugx86/Xilium.CefGlue.Demo.WinForms.exe
Debugx86/Xilium.CefGlue.Demo.pdb
Debugx86/Xilium.CefGlue.Demo.dll
Debugx86/Xilium.CefGlue.Client.pdb
Debugx86/Xilium.CefGlue.Client.exe.config
Debugx86/Xilium.CefGlue.Client.exe
Debugx86/widevinecdmadapter.dll
Debugx86/v8_context_snapshot.bin
Debugx86/swiftshader/libGLESv2.dll
Debugx86/swiftshader/libEGL.dll
Debugx86/snapshot_blob.bin
Debugx86/natives_blob.bin
Debugx86/locales/zh-TW.pak
Debugx86/locales/zh-CN.pak
Debugx86/locales/vi.pak
Debugx86/locales/uk.pak
Debugx86/locales/tr.pak
Debugx86/locales/th.pak
Debugx86/locales/te.pak
Debugx86/locales/ta.pak
Debugx86/locales/sw.pak
Debugx86/locales/sv.pak
Debugx86/locales/sr.pak
Debugx86/locales/sl.pak
Debugx86/locales/sk.pak
Debugx86/locales/ru.pak
Debugx86/locales/ro.pak
Debugx86/locales/pt-PT.pak
Debugx86/locales/pt-BR.pak
Debugx86/locales/pl.pak
Debugx86/locales/nl.pak
Debugx86/locales/nb.pak
Debugx86/locales/ms.pak
Debugx86/locales/mr.pak
Debugx86/locales/ml.pak
Debugx86/locales/lv.pak
Debugx86/locales/lt.pak
Debugx86/locales/ko.pak
Debugx86/locales/kn.pak
Debugx86/locales/ja.pak
Debugx86/locales/it.pak
Debugx86/locales/id.pak
Debugx86/locales/hu.pak
Debugx86/locales/hr.pak
Debugx86/locales/hi.pak
Debugx86/locales/he.pak
Debugx86/locales/gu.pak
Debugx86/locales/fr.pak
Debugx86/libGLESv2.dll
Debugx86/icudtl.dat
Debugx86/GPUCache/index
Debugx86/GPUCache/f_000001
Debugx86/GPUCache/data_3
Debugx86/GPUCache/data_2
Debugx86/GPUCache/data_1
Debugx86/GPUCache/data_0
Debugx86/debug.log
Debugx86/cefclient.exe
Debugx86/cef.log
.vs/Xilium.CefGlue/v15/Server/sqlite3/storage.ide-wal
.vs/Xilium.CefGlue/v15/Server/sqlite3/storage.ide
.vs/Xilium.CefGlue/v15/Server/sqlite3/storage.ide-shm
.vs/Xilium.CefGlue/v15/Server/sqlite3/db.lock
.vs/Xilium.CefGlue/v15/.suo
CefGlue/obj/Debug/Xilium.CefGlue.pdb
CefGlue/obj/Debug/CefGlue.csproj.FileListAbsolute.txt
CefGlue/obj/Debug/CefGlue.csproj.CoreCompileInputs.cache
CefGlue/bin/Debug/Xilium.CefGlue.xml
CefGlue/bin/Debug/Xilium.CefGlue.pdb
CefGlue.WindowsForms/obj/Debug/Xilium.CefGlue.WindowsForms.pdb
CefGlue.WindowsForms/obj/Debug/Xilium.CefGlue.WindowsForms.pdb
CefGlue.WindowsForms/obj/Debug/Xilium.CefGlue.WindowsForms.dll
CefGlue.Client/obj/Debug/CefGlue.Client.csproj.CopyComplete
CefGlue.Client/obj/Debug/CefGlue.Client.csproj.CoreCompileInputs.cache
CefGlue.Client/obj/Debug/CefGlue.Client.csproj.FileListAbsolute.txt
CefGlue.Client/obj/Debug/CefGlue.Client.csproj.GenerateResource.Cache
CefGlue.Client/obj/Debug/CefGlue.Client.csprojResolveAssemblyReference.cache
CefGlue.Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CefGlue.Client/obj/Debug/Xilium.CefGlue.Client.exe
CefGlue.Client/obj/Debug/Xilium.CefGlue.Client.MainForm.resources
CefGlue.Client/obj/Debug/Xilium.CefGlue.Client.pdb
CefGlue.Client/obj/x86/Debug/CefGlue.Client.csproj.CoreCompileInputs.cache
CefGlue.Demo.WinForms/obj/Debug/CefGlue.Demo.WinForms.csproj.CoreCompileInputs.cache
CefGlue.Demo.WinForms/obj/Debug/CefGlue.Demo.WinForms.csproj.FileListAbsolute.txt
CefGlue.Demo.WinForms/obj/Debug/CefGlue.Demo.WinForms.csprojResolveAssemblyReference.cache
CefGlue.Demo.WinForms/obj/Debug/Xilium.CefGlue.Demo.WinForms.exe
CefGlue.Demo.WinForms/obj/Debug/Xilium.CefGlue.Demo.WinForms.pdb
CefGlue.Demo.WinForms/obj/x86/Debug/CefGlue.Demo.WinForms.csproj.CoreCompileInputs.cache
CefGlue.Demo/bin/Debug/Xilium.CefGlue.Demo.pdb
CefGlue.Demo/bin/Debug/Xilium.CefGlue.pdb
CefGlue.Demo/bin/Debug/Xilium.CefGlue.xml
CefGlue.Demo/obj/Debug/CefGlue.Demo.csproj.CopyComplete
CefGlue.Demo/obj/Debug/CefGlue.Demo.csproj.CoreCompileInputs.cache
CefGlue.Demo/obj/Debug/CefGlue.Demo.csproj.FileListAbsolute.txt
CefGlue.Demo/obj/Debug/CefGlue.Demo.csprojResolveAssemblyReference.cache
CefGlue.Demo/obj/Debug/Xilium.CefGlue.Demo.pdb
CefGlue.WindowsForms/bin/Debug/Xilium.CefGlue.dll
CefGlue.WindowsForms/bin/Debug/Xilium.CefGlue.pdb
CefGlue.WindowsForms/bin/Debug/Xilium.CefGlue.WindowsForms.dll
CefGlue.WindowsForms/bin/Debug/Xilium.CefGlue.WindowsForms.pdb
CefGlue.WindowsForms/obj/Debug/CefGlue.WindowsForms.csproj.CoreCompileInputs.cache
CefGlue.WindowsForms/obj/Debug/CefGlue.WindowsForms.csproj.FileListAbsolute.txt
CefGlue.WindowsForms/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CefGlue.WindowsForms/obj/Debug/Xilium.CefGlue.WindowsForms.dll
CefGlue.WindowsForms/obj/Debug/Xilium.CefGlue.WindowsForms.pdb
CefGlue.WindowsForms/obj/Debug/Xilium.CefGlue.WindowsForms.pdb
CefGlue.WindowsForms/obj/Debug/CefGlue.WindowsForms.csproj.CoreCompileInputs.cache
CefGlue.Demo.WinForms/obj/Debug/Xilium.CefGlue.Demo.WinForms.pdb
Debugx86/locales/fil.pak
Debugx86/locales/fi.pak
Debugx86/locales/fa.pak
Debugx86/locales/et.pak
Debugx86/locales/es.pak
Debugx86/locales/es-419.pak
Debugx86/locales/en-US.pak
Debugx86/locales/en-GB.pak
Debugx86/locales/el.pak
Debugx86/locales/de.pak
Debugx86/locales/da.pak
Debugx86/locales/cs.pak
Debugx86/locales/ca.pak
Debugx86/locales/bn.pak
Debugx86/locales/bg.pak
Debugx86/locales/ar.pak
Debugx86/locales/am.pak
CefGlue/obj/Debug/Xilium.CefGlue.dll
CefGlue/bin/Debug/Xilium.CefGlue.dll
CefGlue.Demo/obj/Debug/Xilium.CefGlue.Demo.dll
CefGlue.Demo/bin/Debug/Xilium.CefGlue.dll
CefGlue.Demo/bin/Debug/Xilium.CefGlue.Demo.dll
Debugx86/VideoDecodeStats/MANIFEST-000001
Debugx86/VideoDecodeStats/LOG
Debugx86/VideoDecodeStats/LOCK
Debugx86/VideoDecodeStats/CURRENT
Debugx86/VideoDecodeStats/000003.log
.vs/Xilium.CefGlue/v14/.suo
Debugx86/demo.pdb
demo/obj/Debug/demo.pdb
demo/obj/Debug/demo.exe
demo/obj/Debug/demo.pdb
demo/obj/Debug/demo.exe
CefGlue/obj/Release/CefGlue.csprojResolveAssemblyReference.cache
CefGlue/obj/Release/CefGlue.csproj.FileListAbsolute.txt
CefGlue/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
